body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#starterDiv{
    padding-top: 3%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 1px 5px 2px;
}

.green {
    background: #a3ffa3;
}

.label {
    font-weight: bold;
}

.out_of_date_order {
    background-color:red;
}

.not_viewed_order {
    background: blueviolet;
}

.offline_driver {
    background: gray;
}

.lơw_balance_driver {
    background: red;
}

.coming_soon_order {
    background-color:yellow;
}

.delete_address {
    color: red !important;
    font-weight: bold !important;
    margin-left: 10px;
    font-size: 20px !important;
}
